<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.iessaladillo.pedrojoya.cursogalileotareasemana1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Centro" >
        <activity
            android:name="es.iessaladillo.pedrojoya.cursogalileotareasemana1.actividades.ListaTiendasActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.iessaladillo.pedrojoya.cursogalileotareasemana1.actividades.DetalleTiendaActivity"
            android:label="@string/title_activity_detalle_tienda" >
        </activity>
        <activity
            android:name="es.iessaladillo.pedrojoya.cursogalileotareasemana1.actividades.DetalleFotoActivity"
            android:label="@string/title_activity_detalle_foto" >
        </activity>
    </application>

</manifest>
