<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uma.SQL"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="10" 
              android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SQLActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".Consulta">
        </activity> 
        <activity 
            android:name=".AddAlumnos"
            android:label="@string/agregar_alumno">
            <intent-filter>
                <action android:name="es.uma.SQL.NEW_STUDENT" />
                <action android:name="es.uma.SQL.EDIT_STUDENT" />
                <action android:name="es.uma.SQL.VIEW_STUDENT" />
            </intent-filter>         
        </activity>
        <activity 
            android:name=".ListaAlumnosActivity"
            android:label="@string/consultar_alumno">            
        </activity>
        </application>
</manifest>