<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.iessaladillo.pedrojoya.galileo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="Aplicacion"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Centro" >
        <activity
            android:name="es.iessaladillo.pedrojoya.galileo.actividades.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.iessaladillo.pedrojoya.galileo.actividades.TiendaActivity"
            android:label="@string/title_activity_detalle_tienda"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="es.iessaladillo.pedrojoya.galileo.actividades.FotoActivity"
            android:label="@string/title_activity_detalle_foto"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".datos.BDContentProvider"
            android:authorities="es.iessaladillo.pedrojoya.galileo.provider"
            android:exported="false" >
        </provider>
    </application>

</manifest>